<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KRibbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KRibbon.Properties.Settings.CadenaConexion" connectionString="Dsn=DBRENT_NET16;uid=cv;pwd=1929" />
    </connectionStrings>
    <userSettings>
        <KRibbon.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>es-ES</value>
            </setting>
            <setting name="tbMaestros0" serializeAs="String">
                <value>rgrCentrosAlquiler</value>
            </setting>
            <setting name="tbMaestros1" serializeAs="String">
                <value>rgrClientes</value>
            </setting>
            <setting name="tbMaestros2" serializeAs="String">
                <value>rgrComisionistas</value>
            </setting>
            <setting name="tbMaestros3" serializeAs="String">
                <value>rgrProveedores</value>
            </setting>
            <setting name="tbMaestros4" serializeAs="String">
                <value>rgrTarifas</value>
            </setting>
            <setting name="tbMaestros5" serializeAs="String">
                <value>rgrVehiculos</value>
            </setting>
            <setting name="tbMaestros6" serializeAs="String">
                <value>rgrAuxiliares</value>
            </setting>
            <setting name="tbContratos0" serializeAs="String">
                <value>rgrContratos</value>
            </setting>
            <setting name="tbContratos1" serializeAs="String">
                <value>rgrCambiosContratos</value>
            </setting>
            <setting name="tbContratos2" serializeAs="String">
                <value>rgrVariosContratos</value>
            </setting>
            <setting name="tbReservas0" serializeAs="String">
                <value>rgrReservas</value>
            </setting>
            <setting name="tbAtipicos0" serializeAs="String">
                <value>rgrAtipicos</value>
            </setting>
            <setting name="tbComercial0" serializeAs="String">
                <value>rgrComercial</value>
            </setting>
            <setting name="tbFacturacion0" serializeAs="String">
                <value>rgrFacturacion</value>
            </setting>
            <setting name="tbFacturacion1" serializeAs="String">
                <value>rgrRecibosCartera</value>
            </setting>
            <setting name="tbFacturacion2" serializeAs="String">
                <value>rgrRemesas</value>
            </setting>
            <setting name="tbFacturacion3" serializeAs="String">
                <value>rgrEnlacesContables</value>
            </setting>
            <setting name="tbFacturacion4" serializeAs="String">
                <value>rgrExportacion</value>
            </setting>
            <setting name="tbFacturacion5" serializeAs="String">
                <value>rgrImpresion</value>
            </setting>
            <setting name="tbFacturacion6" serializeAs="String">
                <value>rgrEstadisticasFacturas</value>
            </setting>
            <setting name="tbFlota0" serializeAs="String">
                <value>rgrInmovilizaciones</value>
            </setting>
            <setting name="tbFlota1" serializeAs="String">
                <value>rgrUtilidades</value>
            </setting>
            <setting name="tbFlota2" serializeAs="String">
                <value>rgrVariosFlota</value>
            </setting>
            <setting name="tbIncidencias0" serializeAs="String">
                <value>rgrIncidencias</value>
            </setting>
            <setting name="tbEstadisticas0" serializeAs="String">
                <value>rgrEstadisticas</value>
            </setting>
            <setting name="tbListados0" serializeAs="String">
                <value>rgrListados</value>
            </setting>
            <setting name="tbConfiguracion0" serializeAs="String">
                <value>rgrConfiguracion</value>
            </setting>
            <setting name="tbConfiguracion1" serializeAs="String">
                <value>rgrIdiomas</value>
            </setting>
            <setting name="tbConfiguracion2" serializeAs="String">
                <value>rgrPersonal</value>
            </setting>
            <setting name="tbConfiguracion3" serializeAs="String">
                <value>rgrUtilitarios</value>
            </setting>
            <setting name="tbConfiguracion4" serializeAs="String">
                <value>rgrVariosConfiguracion</value>
            </setting>
            <setting name="tbConfiguracion5" serializeAs="String">
                <value>rgrKarve</value>
            </setting>
        </KRibbon.Properties.Settings>
    </userSettings>
</configuration>