<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KRibbon.Properties.Settings.ConnectionString" connectionString="Dsn=DBRENT_NET16;uid=cv;pwd=1929"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>